<template>
    <div class="container">
        <div class="toolbar">
            <e-keyword-filter v-model:filtered="filtered" :original="items"></e-keyword-filter>
            <button class="add-button" @click="addBustle">&plus;</button>
        </div>
        <e-page-number :current-page="currentPage" :total-items="totalItems" :per-page="perPage" />
        <e-data-table
            :headers="headers"
            :items="filtered"
            :is-loading="isLoading"
            :current-page="currentPage"
            v-model:total-items="totalItems"
            :per-page="perPage"
            rowStyle="link"
            @row-click="showUser">

            <template v-slot:header[default]="{ header }">
                {{ header.label }}
                <e-sort-filter :key-param="header.key" v-model:sort-by="sortBy" v-model:sort-desc="sortDesc" v-model:filtered="filtered"/>
            </template>
            <template v-slot:cell[username]="{ cell }">
                <div class="flex items-center">
                    <span>{{ `${cell.item.username}` }}</span>
                </div> 
            </template>
            <template v-slot:footer[amount]="{ footer }">
                <e-totalizer :key-column="footer.key" :items="filtered" :formatter="footer.formatter"/>
            </template>
        </e-data-table>
        <div>
            <e-paginator v-model:current-page="currentPage" v-model:total-items="totalItems" v-model:per-page="perPage" >
                <template #page="{ page }">
                    {{ page }}
                </template>
            </e-paginator>
        </div>
    </div>
</template>

<script lang="ts">
import { ref } from '@vue/reactivity'

export default {
    setup() {
        const headers = ref([
            { label: 'Id', key: 'id', width: '5px'},
            { label: 'Username', key: 'username'},
            { label: 'Full Name', key: 'fullName'},
            { label: 'Amount', key: 'amount', formatter: (value) => `$${value}`, aligment: 'rigth' },
        ])

        const items = ref([
            { id: 1, username: 'Octavius Rex', fullName: 'Octavius Rex', amount: 1000 },
            { id: 2, username: 'spongebob', fullName: 'Sponge Bob Squarepants', amount: 1500 },
            { id: 3, username: 'patrickstar', fullName: 'Patrick Star', amount: 1020 },
            { id: 4, username: 'sandycheeks', fullName: 'Sandy Cheeks', amount: 800 },
            { id: 5, username: 'eugenekrabs', fullName: 'Eugene H. Krabs', amount: 950 },
            { id: 6, username: 'sheldonplankton', fullName: 'Sheldon J. Plankton', amount: 300 },
        ])

        const filtered = ref([])

        const isLoading = ref(false)

        const perPage = ref(3)

        const totalItems = ref(0)

        const currentPage = ref(1)

        const sortBy = ref('username')

        const sortDesc = ref(false)

        const showUser = (user: any) => {
            alert(user.fullName)
        }

        const id = ref(7)

        const addBustle = () => {
            items.value.push({ id: id.value, username: 'larrythelobster', fullName: 'Larry The Lobster', amount: 420 })
            id.value++
        }

        return { headers, items, isLoading, perPage, totalItems, currentPage, sortBy, sortDesc, showUser, filtered, addBustle }
    }
}
</script>

<style>
img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
}

* {
    font-family: sans-serif;
}

.container {
    margin: 0 30px;
}

.toolbar {
    display: flex;
}

.toolbar .add-button {
    background-color: #bbbbbb;
    border: none;
    border-radius: 1rem;
    margin: .2rem;
    padding: 1rem 1.2rem;
    cursor: pointer;
}
</style>
