<template>
<div class="et-keyword">
    <input class="et-keyword-input" type="text" name="search" id="search" v-model="keywordValue" :placeholder="translatedPlaceholder">
</div> 
</template>

<script lang="ts">
import { useKeywordFilter } from './KeywordFilter'

export default {
    props: {
        filtered: {
            type: Array,
            required: true
        },
        original: {
            type: Array,
            required: true
        },
        placeholder: {
            type: String,
            default: 'Search'
        },
        keyword: {
            type: String,
            default: '',
        }
    },
    emits: [ 'update:filtered', 'update:keyword' ],
    setup(props: any, context: any) {
        const { keywordValue, filteredItems, translatedPlaceholder } = useKeywordFilter(props, context)

        return { keywordValue, filteredItems, translatedPlaceholder }
    }
}
</script>

<style>

</style>
