<template>
    <div class="et-container">
        <table :class="[ 'et-table', { loading: isLoading } ]">
            <thead class="et-table-head">
                <tr class="et-table-header-row">
                    <th class="et-table-header" v-for="(header, index) of headers" :key="index" :style="`width: ${header.width}`">
                        <div class="et-table-header-container">
                            <slot name="header[default]" :header="header">
                                {{ header.label }}
                            </slot>
                            <slot :name="`header[${header.key}]`" :header="header"></slot>
                        </div> 
                    </th>
                </tr>
            </thead>
            <tbody v-if="rows.length" class="et-table-body">
                <tr :class="['et-table-body-row', { 'et-table-row-link': rowStyle === 'link' }, `${rowStyle(row[0].item)}`]" v-for="(row, indexRow) of rows" :key="indexRow">
                    <td class="et-table-cell" v-for="(column, indexColumn) of row" :key="indexColumn" @click="showItem(column.item)">
                        <div :class="`et-table-cell-container ${column.header.aligment || CELL_ALIGMENT.ALIGN_LEFT}`">
                            <slot name="cell[default]" :cell="column"></slot>
                            <slot :name="`cell[${column.header.key}]`" :cell="column">
                                {{ column.data }}
                            </slot>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody v-else class="et-table-body">
                <td class="et-table-body-row" :colspan="headers.length">
                    <div class="et-table-cell-empty">
                        <slot name="cell[empty]">
                            {{ translatedEmpty }}
                        </slot>
                    </div> 
                </td>
            </tbody>
            <tfoot class="et-table-foot">
                <tr class="et-table-foot-row">
                    <td class="et-table-footer" v-for="(header, index) of headers" :key="index">
                        <slot name="footer[default]" :footer="header"></slot>
                        <slot :name="`footer[${header.key}]`" :footer="header"></slot>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</template>

<script lang="ts">
import { TableCellAligment as CELL_ALIGMENT } from '../../../types'
import { useDataTable } from './DataTable'
import { toCurrency } from '../totalizer/Totalizer'

export default {
    props: {
        headers: {
            type: Array,
            required: true
        },
        rowStyle: {
            type: Function,
            default: () => ''
        },
        items: {
            type: Object as <Item>() => Item[],
            required: true
        },
        isLoading: {
            type: Boolean,
            default: false,
        },
        currentPage: {
            type: Number,
            default: 1,
        },
        perPage: {
            type: Number,
            default: 15,
        }, 
        emptyLabel: {
            type: String,
            default: 'Empty',
        }
    },
    emits:[ 'update:total-items', 'row-click' ],
    setup(props: any, context: any) {  
        const { rows, isExpanded, showItem, translatedEmpty } = useDataTable(props, context)

        return { rows, toCurrency, isExpanded, showItem, CELL_ALIGMENT, translatedEmpty }
    } 
}
</script>

<style scoped>
.et-table-cell-container {
    display: block;
}

.et-table-cell-container.left
{
    text-align: left;
}

.et-table-cell-container.center
{
    text-align: center;
}

.et-table-cell-container.right
{
    text-align: right;
}
</style>
