/*
 * Table
 */
.et-container
{
    border-style: solid;
    border-width: 1px;
    border-radius: .8rem;
    border-color: #bbbbbb;
    overflow: hidden;
    display: flex;
}

.et-container .et-table
{
    position: relative; 
    border-collapse: collapse;
    width: 100%;
}

.et-container .et-table.loading
{
    opacity: 50%;
}

.et-container .et-table-header
{
    position: sticky;
    top: 0;
    background-color: #e4e3e5; 
}

.et-container .et-table-header-container
{
    display: flex;
    padding: 0.2rem 1rem;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: .2rem 2rem;
}

.et-container .et-table-cell
{
    font-size: 1rem;
    text-align: center;
}

.et-container .et-table-body-row.et-table-row-link
{
    cursor: pointer;
}

.et-container .et-table-body-row.et-table-row-link:hover
{
    background-color: #b5b5b5;
    box-shadow: 0 0 0 0 #333333;
    transition: all .3s ease;
}

.et-container .et-table-cell-container
{
    display: flex;
    padding: 1rem 2rem;
}

.et-container .et-table-cell-empty
{
    text-align: center;
    margin: 1rem 0;
}

/*
 *  Complements
 */

/*
 * Sort Complement
 */

.et-sorter
{
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    margin: 0.2rem 1rem;
    border-radius: .3rem;
    transition: all .3s ease;
    border: none;
    padding: .2rem .5rem;
}

.et-sorter:hover,
.et-sorter:active
{
    background-color: #b5b5b5;
}

.et-sorter.neutral
{
    width: 100%;
    color: #333333;
}

/*
 * Totalizer
 */
.et-totalizer
{
    font-weight: bold;
    text-align: right;
    padding-right: 1rem;
}

/*
 * Paginator
 */

.et-paginator
{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}

.et-paginator .et-paginator-container
{
    display: flex;
    align-items: stretch;
    border-radius: .3rem;
    overflow: hidden;
    padding: 0;
}

.et-paginator .nav-button
{
    transition: all .3s ease;
    cursor: pointer;
    padding: .2rem 1rem;
    outline: none;
    border: none;
    background-color: transparent;
    height: 100%;
    display: flex;
    align-items: center;
}

.et-paginator .nav-button.pre,
.et-paginator .nav-button.next
 {
     border: none;
}

.et-paginator .nav-button:hover {
    background-color: #b5b5b5;
}

.et-paginator .nav-button.active {
    background-color: #05308c;
    color: white;
    border: 1px solid #05308c;
}

/*
 * KeywordFilter
 */

.et-keyword {
    padding: .5rem;
}

.et-keyword .et-keyword-input
{
    padding: .5rem;
    border-radius: .5rem;
    border: none;
}

/*
 * PageNumber
 */
.et-page-number {
    margin: .5rem 0;
    display: flex;
    align-items: center;
    justify-content: end;
}

.et-pipe-separator,
.et-page-separator {
    margin: 0 .5rem;
}
