<template>
    <div class="et-page-number">
        <span class="et-total-items">{{ totalItems }} {{ totalItemsLabel }}</span>
        <span class="et-pipe-separator">&#124;</span>
        <span class="et-current-page">{{ translatedPage }} {{ currentPage }}</span>
        <span class="et-page-separator">{{ pageSeparatorLabel }}</span>
        <span class="et-total-pages">{{ pages }}</span>
    </div>
</template>

<script>
import { usePageNumber } from './PageNumber'

export default {
    props: {
        currentPage: {
            type: Number,
            default: 1,
        },
        totalItems: {
            type: Number,
            required: true,
        },
        perPage: {
            type: Number,
            required: true,
        }, 
    },
    setup(props) {
        const { pages, totalItemsLabel, pageSeparatorLabel, translatedPage } = usePageNumber(props)

        return { pages, totalItemsLabel, pageSeparatorLabel, translatedPage }
    }
}
</script>

<style>

</style>
