<template>
    <div class="et-totalizer"> 
        {{ total }}
    </div>
</template>

<script lang="ts">
import { useTotalizer } from './Totalizer'

export default {
    props: {
        keyColumn: {
            type: String,
            required: true
        },
        items: {
            type: Array,
            required: true
        },
        formatter: {
            required: false
        }
    },
    setup(props: any) {
       const { total } = useTotalizer(props) 

       return { total }
    }
}
</script>

<style>

</style>
