<template>
<div>
    <button v-if="header.meta?.isSortable ?? true" class="et-sorter" @click="toggleSort">
        <div v-if="!(keyParam === sortBy)" class="neutral-button">
            <div class="et-sort-icon-container">
                <slot name="neutral-button">
                    <div class="sort-icon">
                        <span>&#9650;</span>
                        <span>&#9660;</span>
                    </div> 
                </slot>
            </div>
        </div>
        <div v-else-if="sortDesc && (keyParam === sortBy)" class="desc-button">
            <div class="et-sort-icon-container">
                <slot name="desc-button">
                    <span class="sort-icon">&#9660;</span>
                </slot>
            </div> 
        </div>
        <div v-else>
            <div class="et-sort-icon-container">
                <slot name="asc-button" class="asc-button">
                    <span class="sort-icon">&#9650;</span>
                </slot>
            </div> 
        </div>
    </button> 
</div> 
</template>

<script lang="ts">
import { useSortFilter } from './SortFilter'

export default {
    props: {
        keyParam: {
            type: String,
            required: true,
        },
        sortBy: {
            type: String,
            required: true
        },
        sortDesc: {
            type: Boolean,
            required: true
        },
        filtered: {
            type: Array,
            required: true
        },
        header: {
            type: Object,
            required: false,
        }
    },
    emits: [ 'update:sort-by', 'update:sort-desc', 'update:filtered' ],
    setup(props: any, context: any) { 

        const { isSortSelected, toggleSort } = useSortFilter(props, context)

        return { toggleSort, isSortSelected }
    }
}
</script>

<style scoped>
.sort-icon
{
    display: flex;
    font-size: .5rem;
    flex-direction: column;
    min-height: 1.2rem;
    justify-content: center;
}
</style>
