<template>
    <div class="et-paginator">
        <ul class="et-paginator-container">
            <li>
                <button class="nav-button previous" @click="previousPage" :disabled="currentPage === 1">
                    <slot name="prev">
                        <span>&#8592;</span>
                    </slot>
                </button>
            </li>
            <li v-for="(page, index) of pages" :key="index">
                <button :class="['nav-button page', { active: currentPage === page }]" @click="gotToPage(page)">
                    <slot name="page" :page="page">
                        {{ page }}
                    </slot>
                </button>
            </li>
            <li>
                <button class="nav-button next" @click="nextPage" :disabled="currentPage === totalPages">
                    <slot name="next">
                        <span>&#8594;</span>
                    </slot>
                </button>
            </li>
        </ul>
    </div> 
</template>

<script lang="ts">
import { usePaginator } from './Paginator'

export default {
    props: {
        currentPage: {
            type: Number,
            default: 1,
        },
        totalItems: {
            type: Number,
            required: true,
        },
        perPage: {
            type: Number,
            required: true,
        },
        offset: {
            type: Number,
            default: 5,
        }
    },
    emits: [ 'update:current-page', 'update:total-items', 'update:offset', 'update:per-page' ],
    setup(props: any, context: any) {

        const { previousPage, nextPage, pages, gotToPage, totalPages } = usePaginator(props, context)

        return { previousPage, nextPage, pages, gotToPage, totalPages }    
    }
}
</script>

<style scoped>
ul {
    list-style: none;
}
</style>
